.sidebar {
    width: 250px;
    height: 100%;
    background-color: #2c2f33;
    color: white;
}

.server-list,
.friend-list {
    padding: 10px;
}

.server-list ul,
.friend-list ul {
    list-style-type: none;
    padding: 0;
}

.server-list h2,
.friend-list h2 {
    margin-top: 0;
}
