* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Khojki", sans-serif;
}

:root {
    --primary-color-gray-dark-1: #1e1f22;
    --primary-color-gray-dark-2: #323339;
    --primary-color-gray-dark-3: #2b2d31;
    --primary-color-gray-dark-4: #313338;

    --secondery-color: #5865f2;

    --text-color: #f2f3f5;
    --text-color-dark: #b5bac1;

    --color-blurple: #7289da;
    --color-not-quite-black: #23272a;
    --color-dark: #2c2f33;
    --color-lighter-dark: #45494e;
    --color-full-white: #ffffff;
    --color-grey-white: #b9bbbe;
    --color-grey-dark: #242629;
    --color-actually-black: #000000;
    --online-verde: #00ae7a;
}
